.file-upload {
  display: flex;
  justify-content: space-around;
}

.logout-container {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

h1 {
  display: flex;
  justify-content: center;
}
